@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210 40% 98%;
  --foreground: 222 47% 11%;
  --muted: 214 32% 91%;
  --muted-foreground: 215 20% 42%;
  --accent: 210 40% 96%;
  --accent-foreground: 222 47% 11%;
  --primary: 224 71% 38%;
  --primary-foreground: 210 40% 98%;
  --secondary: 240 5% 96%;
  --secondary-foreground: 222 47% 11%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 210 40% 98%;
  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 224 71% 38%;
  --radius: 0.75rem;
}

.dark {
  --background: 222 47% 11%;
  --foreground: 210 40% 98%;
  --muted: 217 19% 27%;
  --muted-foreground: 215 20% 65%;
  --accent: 217 19% 27%;
  --accent-foreground: 210 40% 98%;
  --primary: 210 40% 96%;
  --primary-foreground: 222 47% 11%;
  --secondary: 217 19% 27%;
  --secondary-foreground: 210 40% 98%;
  --destructive: 0 62% 50%;
  --destructive-foreground: 210 40% 98%;
  --border: 217 19% 27%;
  --input: 217 19% 27%;
  --ring: 210 40% 96%;
}

/* body {
  @apply bg-background text-foreground antialiased;
}

::selection {
  @apply bg-primary text-primary-foreground;
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
